.vue-tel-input {
  display: flex;
  max-width: 100%;
  width: 100%;
  border-radius: $vti-radius;
  box-shadow: $vti-shadow;
  border: $vti-border-size solid $vti-border-color;
  border-color: $vti-border-color;
  // text-align: left;

  // Colors
  @each $name, $color in $colors {
    &.is-#{$name} {
      border-color: $color;
      &:focus-within, &.is-focused, &:active, &.is-active {
        // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), $vti-focus-shadow-size $vti-focus-shadow-color;
        box-shadow: $vti-focus-shadow-size rgba($color, 0.25);
      }
    }
  }

  &.disabled, &[readonly], &[disabled] {
    .vti__dropdown, .vti__input {
        background-color: $vti-disabled-color;
        border-color: $vti-disabled-border-color;
        box-shadow: none;
        cursor: no-drop;
      }
  }
  &[readonly] {
    box-shadow: none;
    .selection, .dropdown, input {
        box-shadow: none;
    }
  }
  &:hover, &.is-hovered {
    border-color: $vti-hover-border-color;
  }
  &:focus-within, &.is-focused, &:active, &.is-active {
    border-color: $vti-focus-border-color;
    box-shadow: $vti-focus-shadow-size $vti-focus-shadow-color;
  }
  
  ///
  ///
  ///

  .vti__input {
    border: $vti-input-border;
    border-radius: 0 $vti-radius $vti-radius 0;
    width: $vti-input-width;
    outline: none;
    padding-left: $vti-input-padding-left;
  }
  .vti__dropdown {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: $vti-radius 0 0 $vti-radius;
    position: relative;
    padding: $vti-dropdown-padding;
    cursor: pointer;
  
    &.show {
      max-height: $vti-dropdown-max-height;
      overflow: scroll;
    }
  
    &.open {
      background-color: $vti-dropdown-open-background-color;
    }
  
    &:hover {
      background-color: $vti-dropdown-hover-background-color;
    }
  
    &.disabled {
      cursor: no-drop;
      outline:none;
      background-color: $vti-dropdown-disabled-background-color;
    }
  }
  .vti__selection {
    font-size: $vti-button-font-size;
    display: flex;
    align-items: center;
  
    .vti__country-code {
      color: $vti-button-font-color;
    }
  }
  .vti__flag {
    margin: $vti-button-flag-margin;
  }
  .vti__dropdown-list {
    z-index: $vti-dropdown-list-zindex;
    padding: $vti-dropdown-list-padding;
    margin: $vti-dropdown-list-margin;
    text-align: left;
    list-style: none;
    max-height: $vti-dropdown-list-max-height;
    overflow-y: scroll;
    position: absolute;
    left: -1px;
    background-color: $vti-dropdown-list-background-color;
    border: $vti-dropdown-list-border;
    width: $vti-dropdown-list-width;
  
    &.below {
      border-radius: $vti-dropdown-list-radius-below;
      top: 33px;
    }
  
    &.above {
      top: auto;
      border-radius: $vti-dropdown-list-radius-above;
      bottom: 100%;
    }
  }
  .vti__dropdown-arrow {
    transform: scaleY(0.5);
    display: inline-block;
    color: #666;
  }
  .vti__dropdown-item {
    cursor: pointer;
    padding: $vti-dropdown-item-padding;
  
    .vti__flag {
      display: inline-block;
      margin-right: 5px;
    }
  
    &.highlighted {
      background-color: $vti-dropdown-item-highlighted-color;
    }

    &.selected {
      background-color: $vti-dropdown-item-selected-color;
    }
   
    &.last-preferred {
      border-bottom: 1px solid #cacaca;
    }
    
  }
}