.vue-tel-input {
  border-radius: $vti-container-border-radius;
  display: flex;
  border: $vti-container-border-size solid $vti-container-border-color;
  text-align: left;

  &.disabled {
    .selection, .dropdown, input {
        cursor: no-drop;
    }
  }
  &:focus-within {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), $vti-container-focus-shadow-size $vti-container-focus-shadow-color;
    border-color: $vti-container-focus-border-color;
    &.is-success {
      border-color: $vti-container-success-border-color;
    }
    &.is-danger {
      border-color: $vti-container-danger-border-color;
    }
  }
  &.is-success {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), $vti-container-focus-shadow-size $vti-container-success-border-color;
    border-color: $vti-container-success-border-color;
  }
  &.is-danger {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), $vti-container-focus-shadow-size $vti-container-danger-border-color;
    border-color: $vti-container-danger-border-color;
  }
  
  .vti__dropdown {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: $vti-container-border-radius 0 0 $vti-container-border-radius;
    position: relative;
    padding: $vti-dropdown-padding;
    cursor: pointer;
  
    &.show {
      max-height: $vti-dropdown-max-height;
      overflow: scroll;
    }
  
    &.open {
      background-color: $vti-dropdown-open-background-color;
    }
  
    &:hover {
      background-color: $vti-dropdown-hover-background-color;
    }
  
    &.disabled {
      cursor: no-drop;
      outline:none;
      background-color: $vti-dropdown-disabled-background-color;
    }
  }
  .vti__selection {
    font-size: $vti-dropdown-button-font-size;
    display: flex;
    align-items: center;
  
    .vti__country-code {
      color: $vti-dropdown-button-font-color;
    }
  }
  .vti__flag {
    margin: $vti-dropdown-button-flag-margin;
  }
  .vti__dropdown-list {
    z-index: $vti-dropdown-list-zindex;
    padding: $vti-dropdown-list-padding;
    margin: $vti-dropdown-list-margin;
    text-align: left;
    list-style: none;
    max-height: $vti-dropdown-list-max-height;
    overflow-y: scroll;
    position: absolute;
    left: -1px;
    background-color: $vti-dropdown-list-background-color;
    border: $vti-dropdown-list-border;
    width: $vti-dropdown-list-width;
  
    &.below {
      border-radius: $vti-dropdown-list-radius-below;
      top: 33px;
    }
  
    &.above {
      top: auto;
      border-radius: $vti-dropdown-list-radius-above;
      bottom: 100%;
    }
  }
  .vti__dropdown-arrow {
    transform: scaleY(0.5);
    display: inline-block;
    color: #666;
  }
  .vti__dropdown-item {
    cursor: pointer;
    padding: $vti-dropdown-item-padding;
  
    .vti__flag {
      display: inline-block;
      margin-right: 5px;
    }
  
    &.highlighted {
      background-color: $vti-dropdown-item-highlighted-color;
    }

    &.selected {
      background-color: $vti-dropdown-item-selected-color;
    }
   
    &.last-preferred {
      border-bottom: 1px solid #cacaca;
    }
    
  }
  .vti__input {
    border: $vti-input-border;
    border-radius: $vti-input-border-radius;
    width: $vti-input-width;
    outline: none;
    padding-left: $vti-input-padding-left;
}
}